/* !General Styles! */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
   color: black;
   font-family: 'Noto Sans HK', sans-serif;
   margin: auto;
}
#bg-img {
   background: url(../images/bg.jif);
   /* background: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65); */
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top right;
}
.overlay{
   background: rgba(68, 68, 68, 0.5);
}
main {
   min-height: 100vh;
   width: 75%;
   margin: 0 auto;
   padding-bottom: 20px;
}

/* !Header! */
header {
   text-align: center;
}

   #title {
      margin-top: 0;
      line-height: 1.5;
      font-family: 'Indie Flower', cursive;
      font-size: 5rem;
      text-decoration-line: underline;
      margin-bottom: 15px;
   }
   #sub-title {
      font-style: italic;
      margin-top: 0px;
      margin-bottom: 40px
   }

/* !Main Section! */
   /* Ingredient Section */
#ingr-section {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
   .ingr-display {
      border: 1px solid black;
      flex-basis: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
      .ingr-header {
         font-size: 1.1rem;
         text-align: center;
         border-bottom: 2px solid black;
         padding: 3px;
         margin-top: 0;
         margin-bottom: 5px;
      }   
      .ingr-item {
         margin: 5px 3px;
      }
         .ingr-item:hover {
            cursor: pointer;
         }
#meats-display .ingr-header { background: #ff0000; }
#dairy-display .ingr-header { background: #eee8dc }
#grains-display .ingr-header { background: #d2b48c; }
#veggies-display .ingr-header { background: #008000; }
#fruits-display .ingr-header { background: #f08080; }
#spices-display .ingr-header { background: #a52a2a; }

   /* Search Bar */
#search-section {
   text-align: center;
   margin-top: 30px;
}

   /* Display Chosen Ingredients */
#chosen-ingr-section {
   text-align: center;
   margin: 20px;
}
   #chosen-ingr-header {
      font-weight: bold;
      font-size: 1.5rem;
   }
   #chosen-ingr-list {
      text-align: center;
      margin: 10px;
   }
      .chosen-ingr-item {
         margin: 2px;
      }

   /* Submit Button */
#search-btn-section {
   text-align: center;
   margin: 20px;
}

   /* Recipe Results */
#recipe-section {
   display: flex;
   flex-wrap: wrap;
   border: 1px solid black;
}
   .recipe-result {
      margin-left: 2.5%;
      margin-top: 1%;
      margin-bottom: 1.5%;
      width: 30%;
   }
      .recipe-title {
         color: #dbdbdb;
         font-size: 1.3rem;
         font-weight: bold;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;   
         margin-bottom: 2px;
      }
      .recipe-link {
         display: inline-block;
         background: #6e6968;
         color: #e7b14d;
         padding: 0 5px;
         margin-top: 0;
      }

/* !Media Query's! */
      /* screens up to 950px */
@media screen and (max-width: 950px) {
   html {
      font-size: 12px;
   }
   main {
      width: 95%;
      padding-top: 3px;
   }
}
      /* screens up to 620px */
@media screen and (max-width: 620px) {
   html {
      font-size: 10px;
   }
   #title {
      font-size: 3rem;
   }
   #sub-title {
      margin-bottom: 5%;
   }
   #ingr-section {
      justify-content: space-around;
   }
      .ingr-display {
         flex-direction: row;
         min-width: 305px;
      }
      .ingr-header {
         border: none;
         width: 45px;
         margin: 0;
      }
      .ingr-item {
         margin: 5px 1px;
      }
   #search-section {
      margin-top: 5%;
   }
   .recipe-title {
      font-size: 1.1rem;
      margin-bottom: 2px;
   }
}