/* !General Styles! */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
   font-family: 'Noto Sans HK', sans-serif;
   margin: auto;
}
#bg-img {
   background: url(../images/bg.jif);
   background-size: cover;
   background-repeat: no-repeat;
}
.overlay{
   background: rgba(68, 68, 68, 0.5);
}
main {
   width: 75%;
   margin: 0 auto;
}

/* !Header! */
header {
   text-align: center;
}

   #title {
      margin-top: 0;
      line-height: 1.5;
      font-family: 'Indie Flower', cursive;
      font-size: 5rem;
      text-decoration-line: underline;
      margin-bottom: 20px;
   }
   #sub-title {
      font-style: italic;
      margin-top: 0px;
      margin-bottom: 40px
   }

/* !Main Section! */
   /* Ingredient Section */
#ingr-section {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
   .ingr-display {
      border: 1px solid black;
      flex-basis: 15%;
   }
      .ingr-header {
         text-align: center;
         margin-top: 0;
         margin-bottom: 5px;
      }   
      .ingr-item {
         margin: 5px;
      }

   /* Search Bar */
#search-section {
   text-align: center;
   margin-top: 20px;
}

   /* Display Chosen Ingredients */
#ingr-list {
   text-align: center;
   margin: 25px;
}
   .ingr-sub-header {
      font-size: .6rem;
      margin-top: 0;
   }
   .chosen-ingr {
      border: 1px solid black;
      margin: 4px;
   }
      .chosen-ingr:hover {
         cursor: pointer;
      }

   /* Recipe Results */
#recipe-section {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
   .recipe-result {
      margin: 10px;
   }
      .recipe-result img {
         height: 250px;
         width: 250px;
      }